{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {# Le formulaire est créé selon la classe qui est utilisé dans le controlleur (dans la methode createForme)
    Tous les champs déclarés dans cette classe seront affichés 
    dans le formulaire, qu'il soit explicitement indiqués dans le fichier twig ou non #}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.pseudo) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe',
            help: '6caractères minimum'
        }) }}
        {{ form_row(registrationForm.email)}}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
